<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marketcarrot">
    <!-- GPS 구현을 위한 location access 코드 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--gps 위치 권한 허용 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 인터넷과 카메라를 내부로 사용하기 위해 반드시 필요한 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_baseline_carroticon"
        android:label="@string/당근마켓"
        android:roundIcon="@drawable/ic_baseline_carroticon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Marketcarrot"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="841e454f678916ca564040940fbacc3e"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="kakao21de26b357c402d6376672dcbda85911" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserCheckSplash"
            android:exported="true"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".LoginSplash"
            android:exported="true">
        </activity>
        <activity
            android:name=".PutLocationSplash"
            android:exported="true">
        </activity>
<!--        <activity-->
<!--            android:name=".MyLocation"-->
<!--            android:exported="true">-->
<!--        </activity>-->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>